<!DOCTYPE html>
<html>
<head>
  <title>PhoneGallery</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "Phone_Gallery", :media => "all" %>
  <%= stylesheet_link_tag    "ListElement", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>






<body>

<div id="top-bar">
            <form>
            <span id="search-box" >
                <input type="text" style="width: 85%;float: left;border: 0px;outline: none;">
                <button type="submit" style="width: 9%;float: right;"> </button>
            </span>
</div>
</form>
        
        <div id ="main-body">
            <div id="list" class="middle-elements">
                
               <% Shop.all.each{|s| %>
               
               
                
                <%= link_to  :controller => "gallery", :action => "show", :id => s.name do %>
                <div class="list-element" id = "<%= s.name %>">
                    <span class="list-element-heading"> <%= s.name %></span>
                    <br>
                    <span class="list-element-detali"><%= s.address %></span>
                    <br>
                   <!-- <span class="list-element-link"><a href="">www.link.com</a></span> -->
                    <br>
                    <span class="list-element-tag" > <%= s.phone_no %></span>
                </div>

                <% end %>
                <% } %>
            
            </div>

            
<%= yield %>
<%= debug(params) if Rails.env.development? %>
</div>
            

                
            

        </div>


</body>
</html>
